spring:
  config:
    import:
      - optional:aws-parameterstore:/config/techinsights/dev/
  cloud:
    aws:
      parameterstore:
        enabled: false
      region:
        static: ap-northeast-2

db:
  url: ${DB_URL:jdbc:postgresql://localhost:5432/techinsights_db}
  username: ${DB_USERNAME:local-user}
  password: ${DB_PASSWORD:local_password}

cors:
  allowed-origins:
    - http://localhost:3001

gemini:
  api-key: ${GEMINI_API_KEY}
  max-output-tokens: 16384
